<div class="page-nav">

    <img src="{{ "/assets/images/image_oberellenbach.jpg" | relative_url }}" id="oe-logo" alt="">

    <div class="navigation-tree">
        <ul class="nav">
            {% for cat in site.data.categories.list %}
                <li><a href="/{{ cat.url }}">{{ cat.title }}</a>

                    {% assign pages = site.page_collections | where: "category", cat.category %}

                    {% if pages %}
                        <ul class="inner-nav">
                            {% for page in pages %}
                        
                                <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>

                            {% endfor %}
                        </ul>

                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <img src="{{ "/assets/images/circles.png" | relative_url }}">

</div>