<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="background_container">
      <div class="background_frontpage_header"></div>
      <div class="background_frontpage_small1"></div>
      <div class="background_frontpage_small2"></div>
      <div class="background_frontpage_small3"></div>
      <div class="background_frontpage_small4"></div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
