<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="website">

    {%- include navigation.html -%}

    <div class="content">

      <div class="background_container">
        <!-- header images -->
        <div class="background_frontpage_header"></div>
        <div class="background_frontpage_small1 background_frontpage_small"></div>
        <div class="background_frontpage_small2 background_frontpage_small"></div>
        <div class="background_frontpage_small3 background_frontpage_small"></div>
        <div class="background_frontpage_small4 background_frontpage_small"></div>
      </div>

      <div>

        <main class="page-content" aria-label="Content">
          <div class="wrapper">
            {{ content }}
          </div>
        </main>

      </div>

    </div>

  </div>

</body>

</html>